.review-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  height: 400px;
}
.content {
  text-align: center;
  margin-bottom: 30px;
  width: 75%;
}
.header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
}

.img-body img {
  display: flex;
  margin: 0 auto;
  height: 40vh;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-body {
  width: 400px;
  aspect-ratio: 1/1;
  outline-color: red;
  display: inline-block;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-color: rgb(95, 10, 10);
}
.hello{
  background-color: #f3e7de;
  margin: 0 5px;
  height : 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
