/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px); /* Start from below */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* End at original position */
  }
}

#hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/server.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
  z-index: 1;
}

#hero-margin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align start by default */
  margin-top: 9rem;
  z-index: 2;
}

#hero h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0 5rem;
  max-width: 90%;
  z-index: 2;
  position: relative;
  color: white;
  opacity: 0; /* Start hidden */
  animation: fadeIn 1s ease-out forwards; /* Apply the fade-in animation */
  animation-delay: 0.5s; /* Delay animation to let the background load */
}

#hero p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 5rem;
  line-height: 1.6;
  max-width: 80%;
  z-index: 2;
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Text shadow for better readability */
  opacity: 0; /* Start hidden */
  animation: fadeIn 1s ease-out forwards; /* Apply the fade-in animation */
  animation-delay: 1s; /* Delay animation to appear after header */
}

@media screen and (max-width: 1300px) {
  #hero h1 {
      font-size: 6rem;
      margin: 0 2rem;
  }

  #hero p {
      font-size: 1.4rem;
      margin: 2rem 2rem;
  }
}

@media screen and (max-width: 900px) {
  #hero h1 {
      font-size: 4.5rem;
      margin: 0 2rem;
  }

  #hero p {
      font-size: 1.2rem;
      margin: 2rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  #hero-margin {
      align-items: center; /* Center align horizontally */
  }

  #hero h1 {
      font-size: 3rem;
      margin: 0 1.5rem;
  }

  #hero p {
      font-size: 1rem;
      margin: 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  #hero h1 {
      font-size: 3rem;
      margin: 0 1rem;
  }

  #hero p {
      font-size: 0.9rem;
      margin: 1rem 1rem;
  }
}
