@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
}

footer {
  color: white;
  width: 100%;
  background-color: #202020;
  padding: 40px 0 20px 0;
  flex-shrink: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 1400px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#footer-table {
  display: grid;
  grid-template-areas: "s1 s1 s2 s3 s4";
  gap: 50px;
}

#footer section {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-left: 2rem;
}

#footer section p {
  color: rgb(182, 182, 182);
  font-size: 1rem;
  margin: 5px 0;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
}

#footer section h1 {
  color: white;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 400;
  text-decoration: none;
}

#footer section a {
  color: rgb(182, 182, 182);
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 300;
  text-decoration: none;
}

#footer-end {
  color: rgb(182, 182, 182);
  padding: 0 40px;
}

hr {
  border-color: rgb(182, 182, 182);
  width: calc(100% - 80px);
  margin: 20px 40px;
}

#s1 {
  grid-area: s1;
}

#s2 {
  grid-area: s2;
}

#s3 {
  grid-area: s3;
}

#s4 {
  grid-area: s4;
}

@media screen and (max-width: 900px) {
  #footer-table {
    grid-template-areas: "s1 s1" "s2 s3" "s4 s4";
  }

  #footer section p {
    width: 85%;
  }
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 05px 0px !important; 
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}


.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
