

.container-1 {
    text-align: center;
    padding: 20px;
    
  }
  
  /* Header */
  .header {
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 50px;
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Main Content */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  /* Features Section */
  .features {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;

  }
  
  .feature {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 31%;
    height: 230px;
  }
  
  .feature h3 {
    font-size: 27px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  
  .feature p {
    font-size: 14px;
    color: #666;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Footer */
  .footer {
    margin-top: 20px;
  }
  
  .cta-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .features {
      flex-direction: column;
    }
  
    .feature {
      width: 90%;
      margin-bottom: 20px;
    }
  }
  